@using SweetNSavory.Models;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using System.Linq;
@{
  Layout = "_Layout";
}
@model Flavor;

<h1>Edit</h1>

@if(Model != null)
{
      <h2>@(Html.Raw($"<a href='/flavor/{Model.FlavorId}'> {Model.Flavor.FlavorName}</a>"))</h2> <a href="/flavor/delete/" name="id" value=@($"{Model.FlavorId}") class="btn btn-warning">Delete</a>
    
      @using(Html.BeginForm())
      {
        @Html.HiddenFor(model => model.FlavorId, new {Value = Model.FlavorId})
        @Html.Label("Flavor","Rename Flavor", new {})
        @Html.TextBoxFor(model => model.FlavorName)<br>
        <button type="submit" value="Add Flavor" class="btn btn-info">Add Flavor</button>
      }
}

else
{
    <p>@($"I'm sorry, there is no Treat with that id. Please return to the home page.")</p>
    <a href="/" class="btn btn-info">Home</a> 
}